.container-2{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.container-2 img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card{
    border: 2px solid rgb(235, 94, 12);
    height: 30rem;
    width: 25rem;
    position: relative;
}

.card-footer{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    background: none;
}

.imagen-perfil{
    position: absolute;
    width: 25px;
    height: 25px;
    margin: -11px;
    margin-top: -22px;
}

.espacio-letra{
    padding-top: 25px;
}